# Build folder
build/
data/
models/
# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Object files
*.o
*.obj

# Executable
*.exe
*.out

# Logs
*.log

.onnxruntime-linux-x64-1.17.3/
.playwright-mcp